.Button {
  cursor: pointer;
}


.primary {
  background-color: var(--primary-color);
}

.secondary {
  background-color: var(--inverted-primary-color);
}

.clear {
  border: none;
  background: none;
  outline: none;
}